
.metaHeader > span {
    min-height: 100% !important;
    width: 100% !important;
    padding: 16px !important;
}

.iconButton {
    all: unset;
}

.iconButton:hover {
    opacity: 0.8;
}

.sticky-header {
    position: sticky !important;
    top: 0;
    left: 0;
    z-index: 2 !important;
}
